extends ./layouts/layout

block vars
	-title = 'Change password'
	-bodyClass = 'bg1'
	
block content
		.card_change_password 
			form.form_change(action="" method="POST")
				h3 Change Password?
				span You can create new password here.
				if(messageError)
					.alert_error
						ion-icon(name="alert-outline")
						span #{messageError}
				if(messageSuccess)
					.alert_success
						ion-icon(name="checkmark-circle-sharp")
						span #{messageSuccess} 
				label(for="newpass_change") New password
				.input_newpass_change
					input#newpass_change(type="password" placeholder="Enter your new password" name="newpass")
					span#eye_change_newpass
						ion-icon#eye_newpass(name="eye-sharp")
				label(for="repass_change") Repeat Password
				.input_repass_change
					input#repass_change(type="password" placeholder="Enter your repeat password" name="repass")
					span#eye_change_repass
						ion-icon#eye_repass(name="eye-sharp")
				button Change Password 
			a.change_back(href="/")
				.content_change_back
					ion-icon(name="arrow-back-sharp") 
					span Back to login