extends ./layouts/layout

block vars
	-title = 'Forgot password'
	-bodyClass = 'bg1'
	
block content
	.card_forgot_password 
		form.form_forgot(action="" method="POST")
			h3 Forgot Password?
			span You can create new password here.
			if(messageError)
				.alert_error
					ion-icon(name="alert-outline")
					span #{messageError}
			if(messageSuccess)
				.alert_success
					ion-icon(name="checkmark-circle-sharp")
					span #{messageSuccess} 
			label(for="email_forgot") Email
			input#email_forgot(type="email" placeholder="Enter your email" name="email")
			button Reset Password 
		a.forgot_back(href="/")
			.content_forgot_back
				ion-icon(name="arrow-back-sharp") 
				span Back to login


