mixin ReceiptCard()
	.history_receipt_card
				.header_receipt_card 
					span Buy 1 Viettel card code
				span.time_receipt_card 00:14 - 09/06/2022
				.money_receipt_card 
					span.status_card Success 
					span.minus_money_card -10.000đ